doctype html
html(lang='en')
head
    title Ueberwaechter
    //
       Bootstrap core CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/custom.css', rel='stylesheet')

body
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.active(href='/') Admin Panel
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/userlist') User List
                    li
                        a(href='/newuser') New User
                    li
                        a(href='/helloworld') Help
          //.nav-collapse
//
       Bootstrap core JavaScript

//
       Placed at the end of the document so the pages load faster
script(src='/javascripts/jquery-1.11.0.min.js')
script(src='/javascripts/bootstrap.min.js')
block content