extends layout

block content
    div.container
        div.row
            h1.
                User List
            div
            table
                thead
                    h1: tr: th Name
                tbody
                    each user, i in userlist
                        tr
                            td
                                h3 #{user.username}
                                a(href="mailto:#{user.email}")= user.email
